<%= render Bookish.SharedView, "_header.html", conn: @conn %>
<h2><%= @location.name %></h2>

<div class="books">
  <%= for book <- @books do %>
    <div class="entry <%= get_class_name(book) %>">
      <%= render Bookish.SharedView, "_book.html", conn: @conn, book: book %>
    </div>
  <% end %>
</div>
<br>
<%= link to: book_path(@conn, :index) do %>
  <div class="bold-text">
    <i class="fa fa-arrow-left"></i> View All 
  </div>
<% end %>

