@import "bourbon/bourbon";
@import "neat/neat";

// Variables

$default-padding: 1em;
$default-margin: .5em;
$background-color: #4183D7;
$text-color: white;
$gray: darken($text-color, 20%);
$error: #E26A6A;
$icon-height: 120px;
$font-size: 1.5em;
$icon-height: 120px;
$secondary-color: #5EBB75;
$border-radius: 10px;
$small-border-radius: 4px;

// Media queries

$medium: 600px;
$large: 850px;
$max-width: 1000px;

// Default Styles

body {
  font-family: Lato, Helvetica-neue, sans-serif;
  color: $text-color;
  background-color: $background-color;
  font-size: 1.2em;
  @include media($medium) {
    font-size: $font-size;
  }
}

.container {
  min-height: 85vh;
  @include outer-container($max-width);
  @include pad($default-padding);
}

// Typography

a {
  text-decoration: none;
  color: $gray;
  &:hover {
    color: $text-color;
  }
}

h1 {
  font-family: 'Scope One', serif;
  text-transform: lowercase;
}

#main-title {
  text-align: center;
  margin: 0;
  font-size: modular-scale(3);
  @include media($medium) {
    font-size: modular-scale(4);
    margin: $default-margin;
  }
}

// Site elements

header {
  .row {
    @include row();
   h1 {
      @include media($medium) {
        @include span-columns(5);
      }
    }
  }
}

nav { 
  @include media($medium) {
    margin-top: 2em;
  }
  a {
    text-align: center;
    @include span-columns(4);
  }
  @include media($medium) {
    @include span-columns(7)
  }
}

.alert {
  width: 100%;
  color: white;
  border-radius: 4px;
  p {
    padding: $default-padding / 2;
  }
}

.alert-danger {
  background-color: $error;
}

footer {
  text-align: center;
}

.icon-links {
  text-align: center;
  .box {
    @include pad($default-padding);
    border-radius: $border-radius;
    &:hover {
      background-color: lighten($background-color, 5%);
    }
    p {
      font-weight: 700;
      text-transform: lowercase;
    }
    @include media($medium) {
      @include span-columns(4);
    }
    div {
      height: $icon-height;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @include media($large) {
        height: $icon-height * 1.5;
      }
    }
    .add {
      background-image: url("/images/add.png");
    }
    .look {
      background-image: url("/images/look.png");
    }
    .return {
      background-image: url("/images/return.png");
    }
  }
}

.form-container {
  @include media($medium) {
    @include outer-container($max-width / 1.5);
  }
}

.form-group {
  @include row;
  @include outer-container;
  label {
    @include media($medium) {
      @include span-columns(4);
      text-align: right;
    }
  }
  input {
    font-size: .75em;
    width: 100%;
    border: 1px solid $gray;
    padding: $default-padding / 2;
    border-radius: 4px;
    line-height: 1.5em;
    @include media($medium) {
      @include span-columns(8);
    }
  }
  .input-group {
    @include media($medium) {
      @include span-columns(8);
    }
    width: 100%;
    input {
      @include span-columns(6);
    }
  }
}
.form-error {
  color: $error;
  font-weight: 700;
  font-size: .75em;
  min-height: 30px;
  @include media($medium) {
    @include span-columns(8);
    @include shift-in-context(4);
  }
}
.form-error.error-group {
  span {
    @include span-columns(6);
  }
}

.submit {
  text-align: center;
  margin-top: $default-margin;
}

button {
  background-color: $secondary-color;
  color: white;
  font-size: 1em;
  padding: $default-padding / 2;
  border-radius: 4px;
  border: none;
  width: 100%;
  @include media($medium) {
    width: 200px;
  }
}

.books {
  .entry.available {
    background-color: $secondary-color;
  }
  .entry {
    background-color: lighten($background-color, 10%);
    border-radius: $border-radius;
    padding: $default-padding / 2;
    margin-top: $default-margin;
    .title {
      h3 {
        display: inline;
        margin: 0;
      }
    }
    .entry-header {
      .icons.large {
        float: right;
      }.icons.small {
        font-size: 1.25em;
      }
      form {
        display: inline-block;
      }
    }
  }
}

.search {
  h4 {
    margin: 0;
    cursor: pointer;
    color: $gray;
    &:hover {
      color: $text-color;
    }
  }
  .letters { 
    display: none;
  }
  padding: $default-padding / 2;
  background-color: lighten($background-color, 5%);
  border-radius: $border-radius;
}

.bold-text {
  font-weight: 700;
}

$tag-color: #674172;
.tags {
  position: relative;
  bottom: 2px;
  margin-left: 5px;
}

.tag {
  display: inline;
  background-color: $tag-color;
  border-radius: $small-border-radius;
  padding: 3px 5px;
  font-weight: 700;
  margin-right: 5px;
  font-size: .75em;
  &:hover {
    background-color: lighten($tag-color, 10%);
  }
}

// Helpers

.small-medium {
  @include media($large) {
    display: none
  }
}

.large {
  display: none;
  @include media($large) {
    display: block;
  }
}


