@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";
@import "home";
@import "header-footer";
@import "forms";
@import "index-page";

// Default Styles

body {
  font-family: Lato, Helvetica-neue, sans-serif;
  color: $text-color;
  background-color: $background-color;
  font-size: 1.2em;
  @include media($medium) {
    font-size: $font-size;
  }
}

.container {
  min-height: 85vh;
  @include outer-container($max-width);
  @include pad($default-padding);
}

.alert {
  padding: $default-padding / 2;
}

.alert-info {
  background-color: $green;
}

// Typography

a {
  text-decoration: none;
  color: $gray;
  &:hover {
    color: $text-color;
  }
}

h1 {
  font-family: 'Scope One', serif;
  text-transform: lowercase;
}


// Helpers

.bold-text {
  font-weight: 700;
}

.small-medium {
  @include media($large) {
    display: none
  }
}

.large {
  display: none;
  @include media($large) {
    display: block;
  }
}


