@import "variables";
@import "bourbon/bourbon";
@import "neat/neat";

header {
  .row {
    @include row();
   h1 {
      @include media($medium) {
        @include span-columns(5);
      }
    }
  }
}

nav { 
  a {
    text-align: center;
    @include span-columns(4);
  }
  @include media($medium) {
    @include span-columns(7)
    margin-top: 2em;
  }
}

.alert {
  padding: $default-padding / 2;
  width: 100%;
  color: white;
  border-radius: 4px;
  p {
    padding: $default-padding / 2;
  }
}

.alert-danger {
  background-color: $error;
}

.alert-info {
  background-color: $green;
}

footer {
  text-align: center;
}
