@import "variables";
@import "bourbon/bourbon";
@import "neat/neat";

.entry {
  background-color: lighten($background-color, 10%);
  border-radius: $border-radius;
  padding: $default-padding / 2;
  margin-top: $default-margin;
  .title {
    h3 {
      display: inline;
      margin: 0;
    }
  }
  &.available {
    background-color: $secondary-color;
  }
}

.entry-header {
  @include row();
  form {
    display: inline-block;
  }
}

.title-content {
  @include span-columns(11);
}

.icons.large {
  float: right;
}.icons.small-medium {
  font-size: 1.25em;
  @include media($medium) {
    font-size: 1em;
  }
}

.search {
  h4 {
    margin: 0;
    cursor: pointer;
    color: $gray;
    &:hover {
      color: $text-color;
    }
  }
  .letters { 
    display: none;
  }
  padding: $default-padding / 2;
  background-color: lighten($background-color, 5%);
  border-radius: $border-radius;
}

.tags, .location {
  position: relative;
  bottom: 2px;
}

$location-color: #EF4836; 

.location {
  .tag {
    background-color: $location-color;
    &:hover {
      background-color: lighten($location-color, 10%);
    }
  }
}

.tags {
  .tag {
    background-color: $tag-color;
  }
}

.tag {
  white-space: nowrap;
  display: inline;
  border-radius: $small-border-radius;
  padding: 3px 5px;
  font-weight: 700;
  margin-right: 5px;
  font-size: .75em;
  &:hover {
    background-color: lighten($tag-color, 10%);
  }
}

.pagination {
  span {
    margin: $default-margin / 2;
    font-weight: 700;
  }
  text-align: center;
  .disabled {
    pointer-events: none;
  }
  .enabled {
    a {
      color: $green;
      &:hover {
        color: lighten($green, 10%)
      }
    }
  }
}

