@mixin tag($color) {
  white-space: nowrap;
  display: inline;
  border-radius: $small-border-radius;
  padding: 3px 5px;
  font-weight: 700;
  margin-right: 5px;
  font-size: .75em;
  background-color: $color;
  &:hover {
    background-color: lighten($color, 10%);
  }
}

@mixin button($color) {
  background-color: $secondary-color;
  color: white;
  font-size: 1em;
  padding: $default-padding / 2;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
