<%= render Bookish.SharedView, "_header.html", conn: @conn %>

<h2>Add a copy of <%= @metadata.title %></h2>

<%= render "form.html", changeset: @changeset,
                        locations: @locations,
                        action: book_metadata_book_metadata_book_path(@conn, :create, @metadata) %>
