<h1 id="main-title">Bookish</h1>
<div class="icon-links">
  <div class="box">
    <a href=<%= book_path(@conn, :new) %>>
      <div class="add"></div>
      <p>Add a book</p>
    </a>
  </div>
  <div class="box">
    <a href=<%= book_path(@conn, :index) %>>
      <div class="look"></div>
      <p>Look for a book</p>
    </a>
  </div>
  <div class="box">
    <a href=<%= book_path(@conn, :checked_out) %>>
      <div class="return"></div>
      <p>Return a book</p>
    </a>
  </div>
</div>
