<footer>
  <small>
    <p>Copyright &copy; 2016 <%= link "Becca Nelson", to: "http://github.com/beccanelson" %><br>
    Made with <i class="fa fa-heart"></i> for the 8th Light library</p>
  </small>
</footer>
