<header>
  <h1><%= link "bookish", to: page_path(@conn, :index) %></h1>
  <div class="alert alert-info" role="alert">
    <%= get_flash(@conn, :info) %>
  </div>
  <div class="alert alert-danger" role="alert">
    <%= get_flash(@conn, :error) %>
  </div>
</header>

